@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  border: 0 none;
  position: relative;
  outline: none;
}

.navbar-item > a {
  text-decoration: none;
  z-index: 1;
}

.navbar-item > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: rgba(107, 114, 128, var(--tw-text-opacity));
  visibility: hidden;
  transform: scaleX(0) scaleY(0);
  transition: 0.3s linear;
}
.navbar-item > a:hover:before,
.navbar-item > a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero::before {
  content: "";
  background-image: url("./images/office\ picture.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

.banner-container {
  min-height: 380px;
  height: 100vh;
}

.banner {
  background-image: url("./images/office\ picture.jpg");
  opacity: 0.3;
  min-height: 380px;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Needed to position the navbar */
  /* position: relative; */
}

.banner-content {
  min-height: 380px;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@keyframes slideUp {
  0% {
    transform: translateY(200%) scale(0.9);
    opacity: 0%;
  }
  /* 80% {
    transform: translateY(-100%) scale(4);
    opacity: 100%;
  } */
  100% {
    transform: translateY(0) scale(1);
    opacity: 100%;
  }
}

.hero-text {
  animation: 1.5s ease-in-out 0s 1 slideUp;
}
